:host {
    margin: 20px;
}

table {
    width: 500px;
    background: beige;
    border: 2px solid black;
    border-spacing: initial;
}

thead {
    background: rgba(0, 0, 0, 0.3);
}

tbody tr td {
    text-align: center;
    cursor: pointer;
}

th,
td {
    padding: 10px;
}

a {
    color: red;
}

.even {
    background: white;
}
